apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: schedulerinstalls.sim.llm-d.io
spec:
  group: sim.llm-d.io
  names:
    kind: SchedulerInstall
    listKind: SchedulerInstallList
    plural: schedulerinstalls
    shortNames:
    - schedinst
    singular: schedulerinstall
  scope: Namespaced
  versions:
  - name: v1alpha1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        description: SchedulerInstall is the Schema for the schedulerinstalls API
        type: object
        properties:
          apiVersion:
            description: API version of the object
            type: string
          kind:
            description: Kind of the object
            type: string
          metadata:
            type: object
          spec:
            type: object
            x-kubernetes-preserve-unknown-fields: true
          status:
            type: object
            x-kubernetes-preserve-unknown-fields: true
    subresources:
      status: {}
